.grid-container {
    display: grid;
    width: 95%;
    justify-content: center;
    background-color: rgb(168, 156, 135);
    margin: 1rem auto 0.5rem auto;
    grid-template-columns: repeat(12,1fr);
    box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.3);
}

.grid-title__container {
    display: flex;
    width: 100%;
    grid-column: span 12;
}

.grid-title__button {
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #7e1313;
    color: rgb(217, 217, 217);
    border: 2px outset black;
    padding: 0.5rem 0;
    text-shadow: 2px 2px #353434;
}

.grid-title__button:hover,
.grid-title__button:active {
    background-color: rgb(162, 24, 24);
    color: white;
    text-decoration: none;
}

.grid-title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: white;
    margin: 0rem auto 0.3rem auto;
    background-color: #5a1a1a;
    font-family: "Trirong", serif;
    height: 100%;
    text-shadow: 2px 2px #353434;
    grid-column: span 12;
    border-bottom: 5px ridge black;
}

.grid-subtitle {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    margin: 0.2rem auto 0rem auto;
    background-color: #884545;
    font-family: "Cinzel Decorative", serif;
    text-shadow: 2px 2px #353434;
    grid-column: span 12;
    font-weight: bold;
}

.menu-button:hover,
.menu-button:active {
    text-decoration: none;
    background-color: #963434;
    color: #f6d1d1;
}

.menu-button {
    display: flex;
    width: 95%;
    margin: 0.2rem auto;
    grid-column: span 12;
    justify-content: center;
    align-items: center;
    border: 3px outset black;
    background-color: #4d4c4c;
    color: #cfcfcf;
    text-decoration: none;
    border-radius: 3px;
    font-size: 1.2rem;
    font-family: "Trirong", serif;
    text-shadow: 1px 1px #353434;
    text-align: center;
}

.menu-button:hover,
.menu-button:active {
    text-decoration: none;
    background-color: #706f6f;
    color: white;
}

.admin-menu__container {
    display: grid;
    width: 95%;
    grid-template-columns: repeat(12,1fr);
    justify-content: center;
    grid-column: span 12;
    margin: 0.2rem auto;
    border: 3px outset black;
}

.admin-menu__button {
    display: flex;
    width: 100%;
    grid-column: span 10;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    background-color: #4d4c4c;
    color: #cfcfcf;
    text-decoration: none;
    font-family: "Trirong", serif;
    text-shadow: 1px 1px #353434;
    text-align: center;
}

.admin-edit__button {
    display: flex;
    width: 100%;
    grid-column: span 1;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 105, 3);
    color: rgb(216, 216, 216);
    text-decoration: none;
    text-shadow: 1px 1px #353434;
    font-size: 1.2rem;
}

.admin-remove__button {
    display: flex;
    width: 100%;
    grid-column: span 1;
    justify-content: center;
    align-items: center;
    background-color: #a90505;
    color: rgb(216, 216, 216);
    text-decoration: none;
    text-shadow: 1px 1px #353434;
    font-size: 1.2rem;
}


.admin-button {
    display: flex;
    width: 95%;
    margin: 0.2rem auto;
    grid-column: span 12;
    justify-content: center;
    align-items: center;
    border: 3px outset black;
    background-color: #99a60f;
    color: #e0d955;
    text-decoration: none;
    border-radius: 3px;
    font-size: 1.3rem;
    font-family: "Trirong", serif;
    text-shadow: 2px 2px #353434;
}

.admin-button:hover,
.admin-button:active {
    text-decoration: none;
    background-color: #b1bf17;
    color: #efe864;
}

.image-container {
    display: flex;
    grid-column: span 12;
    width: 95%;
    margin: 0.5rem auto;
    justify-content: center;
    align-items: center;
    border: 5px inset rgb(104, 104, 104);
}

.image-container img {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.flex-container {
    display: flex;
    width: 95%;
    margin: 0.5rem auto ;
    flex-direction: column;
    box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.3);
    background-color: rgb(216, 187, 134);
}

.flex-title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-column: span 12;
    margin: 0 auto;
    font-size: 1.5rem;
    border: 3px outset grey;
    text-shadow: 2px 2px #353434;
    background-color: rgb(90, 26, 26);
    color: white;
    font-family: "Trirong", serif;
    font-weight: bold;
}

.flex-login {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.login-button {
    display: flex;
    width: 40%;
    justify-content: center;
    margin: 1rem auto;
    padding: 0.3rem 0;
    border-radius: 10px;
    background-color: rgb(9, 105, 9);
    color: white;
    text-shadow: 2px 2px #353434;
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.3);
    font-family: "Patua One", serif;
    font-size: 1.6rem;
}

.login-input__label {
    display: flex;
    width: 95%;
    margin: 0.2rem auto 0 auto;
    padding: 0.2rem 0;
    font-size: 1.1rem;
    font-family: "Trirong", serif;
}

.login-field {
    display: flex;
    width: 95%;
    margin: 0.3rem auto;
    padding: 0.2rem 0.5rem;
}

.buttons-container {
    display: flex;
    width: 95%;
    justify-content: space-around;
    align-items: center;
    grid-column: span 12;
    margin: 0 auto;
}
.buttons-container a {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    margin: 0.5rem auto 1rem auto;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(86, 45, 45);
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.3);
    padding: 0.5rem;
    height: 3.5rem;
    color: rgb(205, 205, 205);
    font-family: "Patua One", serif;
    text-shadow: 2px 2px #353434;
}

.buttons-container a:hover,
.butttons-container a:active {
    background-color: rgb(86, 45, 45);
    color: rgb(205, 205, 205);
    text-decoration: none;
}

.row-container {
    display: flex;
    width: 100%;
    grid-column: span 12;
    height: 40px;
    background: linear-gradient(45deg, #6a5135, #5c341d);
    background: -webkit-radial-gradient(45deg, #C69C6D, #754224);
    background: -moz-radial-gradient(45deg, #C69C6D, #754224);
    background: -o-radial-gradient(45deg, #C69C6D, #754224);    
    border: 3px outset rgb(73, 73, 73);
}

@media (min-width: 40rem) {
    .flex-container,
    .grid-container {
        width: 55%;
    }

    .flex-title {
        font-size: 1.7rem;
    }

    .grid-title {
        font-size: 2rem;
        font-weight: bold;
    }
    .grid-subtitle {
        font-size: 1.5rem;
    }
    .menu-button,
    .admin-button {
        font-size: 1.3rem;
    }
    
    .admin-menu__button {
        font-size: 1.3rem;
        text-shadow: 2px 2px #353434;
    }
    
    .admin-edit__button {
        font-size: 1.6rem;
        text-shadow: 2px 2px #353434;
    }
    
    .admin-remove__button {
        font-size: 1.6rem;
        text-shadow: 2px 2px #353434;
    }
    
    .buttons-container {
        width: 60%;
    }
}

@media (min-width: 90rem) {
    .flex-container,
    .grid-container {
        width: 40%;
    }
    
    .grid-title {
        font-size: 2.2rem;
        font-weight: bold;
    }
    .grid-subtitle {
        font-size: 1.8rem;
    }
    .menu-button,
    .admin-button {
        font-size: 1.5rem;
    }
}
