{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/accounts/sign_up.css' %}">
{% endblock %}

{% block content %}
    <form method="POST">
        <h1 class="form-title">Creación de Cuenta</h1>
        {% csrf_token %}
        {{ get_form }}
        <div class="buttons-container">
            <button class="submit-button"><span class="fa-solid fa-check"></span></button>
            <a href="{% url 'homepage' %}"><span class="fa-solid fa-house"></span></a>
        </div>
    </form>
{% endblock %}
