{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/slideshow/remove_slide.css' %}">
{% endblock %}

{% block content %}
    <div class="bigtext-container">
        <h1 class='bigtext-title'>Eliminar Diapositivas</h1>
    </div>
    <form class="grid-container" method="post">
        <h1 class='grid-title'>¿Estás Seguro?</h1>
        {% csrf_token %}
        <div class="image-container">
            <img class="image-size" src="{{ get_picture.image_field.url }}" alt="">
            <p class="icon-text">{{ get_picture.description }}</p>
        </div>
        <div class="buttons-container">
            <button class="submit-button" type="submit"><span class="fa-solid fa-trash-alt"></span></button>
            <a class="back-button" href="{% url 'homepage' %}"><span class="fa-solid fa-house"></span></a>
        </div>
    </form>
{% endblock %}