.grid-container {
    display: grid;
    width: 95%;
    grid-template-columns: repeat(4,1fr);
    margin: 1rem auto 0 auto;
}

.backdrop {
    display: flex;
    position: fixed;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.2s linear;
    z-index: 20;
  }
  
.make-invisible {
    display: none !important;
}

.game-instructions {
    display: flex;
    width: 90%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
    flex-direction: column;
    background-color: rgb(168, 156, 135);
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.3);
    z-index: 21;
}

.instructions-title {
    display: flex;
    width: 100%;    
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    text-shadow: 1px 1px #353434;
    font-family: "Sancreek", serif;
    background-color: #5a1a1a;
    color: rgb(205, 205, 205);
  }

  .instructions-text {
    display: flex;
    width: 100%;
    padding: 1rem;
    font-family: "Patua One", serif;
  }

.instructions-button {
    display: flex;
    width: 100%;
    font-family: "Sancreek", serif;
    justify-content: center;
    align-items: center;
    background-color: #5a1a1a;
    color: rgb(205, 205, 205);
    text-shadow: 1px 1px #353434;
    text-decoration: none;
}
.instructions-button:hover,
.instructions-button:active {
    background-color: #5a1a1a;
    color: white;
}

.option-button {
    display: flex !important;
    width: 100%;
    grid-column: span 2;
    justify-content: center;
    align-items: center;
    border: 3px outset #7a7a7a;
    margin: 0rem auto 0 auto;
    font-size: 2rem;
    padding: 0.3rem;
    text-decoration: none;
    cursor: crosshair;
    text-shadow: 1px 1px #353434;
}

.red-button {
    background-color: rgb(144, 0, 0);
    color: rgb(212, 212, 212);
}

.blue-button {
    background-color: rgb(1, 13, 122);
    color: rgb(212, 212, 212);
}

.pink-button {
    background-color: rgb(120, 13, 102);
    color: rgb(212, 212, 212);
}
.brown-button {
    background-color: rgb(68, 40, 34);
    color: rgb(212, 212, 212);
}

.highlight-option {
    background-color: white !important;
    color: black;
    outline: auto;
}

.audio-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column: span 2;
    margin: 0 auto;
    border: 1px solid green;
    background-color: rgb(46, 46, 46);
}

.play-button {
    display: flex;
    grid-column: span 8;
    grid-row: span 2;
    width: 100px;
    height: 100px;
    margin: 0.5rem auto;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(133, 15, 13);
    border: 0;
    color: rgb(184, 184, 184);
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.3);
    text-shadow: 1px 1px #353434;
}

.play-button:active,
.play-button:hover {
    background-color: rgb(165, 19, 16);
    color: white;
}

.volume-button {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;    
    grid-column: span 4;
    background-color: #676565;
    color: #b3b1b1;
    border: 2px outset rgb(29, 29, 29);
    text-shadow: 2px 2px #353434;
}

.audio-volume__container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 100%;
    grid-column: span 2;
    border: 4px ridge rgb(36, 35, 35);
}

.volume-bar {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(36, 36, 36);
    border-right: 1px solid #006200;
    justify-content: center;
    align-items: center;
    height: 15px;
}

.volume-bar__active {
    background-color: green !important;
}

.audio-separator {
    height: 20px;
    grid-column: span 4;
    width: 100%;
    background-color: rgb(44, 44, 44);
    border: 3px outset grey;
}

.buttons-container {
    display: flex;
    width: 100%;
    margin: 0.5rem auto;
    justify-content: space-around;
    grid-column: span 4;
}

.buttons-container a,
.buttons-container button {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    margin: 0.5rem auto;
    text-decoration: none;
    padding: 0.5rem 0;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.3);
    text-shadow: 1px 1px #353434;
    border: 1px solid rgb(99, 98, 98);
}

.inactive-submit {
    background-color: #2a2929;
    color: grey;
}
.active-submit {
    background-color: rgb(8, 128, 8);
    color: white;
    outline:auto;
}

.buttons-container a {
    background-color: #2a2929;
    color: rgb(223, 221, 221);
    
}

.buttons-container a:hover,
.buttons-container a:active {
    background-color: rgb(99, 98, 98);
    color: white;
}

.answer-container {
    display: grid;
    width: 95%;
    grid-template-columns: repeat(4,1fr);
    margin: 0 auto 0.5rem auto;
}

.input-label {
    display: flex;
    width: 100%;
    grid-column: span 4;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(65, 65, 65);
    color: white;
    font-size: 1.4rem;
    text-shadow: 1px 1px #353434;
    font-family: "Patua One", serif;
}

.input-option {
    display: flex;
    width: 100%;
    grid-column: span 2;
    justify-content: center;
    align-items: center;
    border: 2px outset grey;
    font-family: "Cinzel Decorative", serif;
    margin: 0;
    cursor: pointer;
}

.input-option label {
    padding-left: 0.5rem;
}

@media (min-width: 40rem) {
    .grid-container {
        width: 50%;
    }

    .game-instructions {
        width: 40%;
        box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.3);
    }

    .instructions-title {
        font-size: 2.2rem;
    }

    .instructions-button {
        font-size: 2rem;
    }

    .instructions-text {
        font-size: 1.5rem;
    }

    .option-button {
        font-size: 4rem;
    }

    .audio-text {
        font-size: 1.8rem; 
    }

    .buttons-container a,
    .buttons-container button {
        width: 30%;
        font-size: 2.5rem;
    }
    .answer-container {
        display: grid;
        width: 60%;
        font-size: 1.5rem;
    }
    .play-button {
        width: 140px;
        height: 140px;
    }
    .volume-button {
        font-size: 2.5rem;
    }
    .volume-bar {
        height:20px;
        border-right: 3px solid #006200;
    }
}

@media (min-width: 90rem) {
    .grid-container {
        width: 40%;
    }

    .game-instructions {
        width: 35%;
        box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.3);
    }

    .instructions-title {
        font-size: 2.5rem;
    }

    .instructions-button {
        font-size: 2.2rem;
    }

    .instructions-text {
        font-size: 1.7rem;
    }    

    .buttons-container a,
    .buttons-container button {
        width: 30%;
        font-size: 2rem;
    }
    .answer-container {
        display: grid;
        width: 40%;
    }
    .play-button {
        width: 200px;
        height: 200px;
        font-size: 6rem;
    }
    .audio-text {
        font-size: 1.8rem;
    }
    .volume-button {
        font-size: 3rem;
    }
}